<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">

        <title>Types and Toucans - $title$</title>

        <!-- Stylesheets. -->
        <link rel="stylesheet" type="text/css" href="/css/default.css">

        <!-- Metadata. -->
        <meta name="keywords" content="Jonathan Louie,blog,programming,coding,rust,idris,haskell,function,personal,homepage">
        <meta name="description" content="Personal home page and blog of Jonathan Louie.">
        $if(title)$<meta property="og:title" content="Types and Toucans - $title$" />$endif$
        $if(description)$<meta property="og:description" content="$description$" />$endif$
    </head>
    <body>
        <div id="gear-1" class="gear-container">
            <div class="gear">
                <img class="gear-image" src="/Assets/Gear.svg" alt="scroll">
            </div>
        </div>
        <div id="gear-2" class="gear-container">
            <div class="gear">
                <img class="gear-image-opposite" src="/Assets/Gear.svg" alt="scroll">
            </div>
        </div>
        <div id="gear-3" class="gear-container">
            <div class="gear">
                <img class="gear-image" src="/Assets/Gear.svg" alt="scroll">
            </div>
        </div>
        <div id="gear-4" class="gear-container">
            <div class="gear">
                <img class="gear-image-opposite" src="/Assets/Gear.svg" alt="scroll">
            </div>
        </div>
        <div id="gear-5" class="gear-container">
            <div class="gear">
                <img class="gear-image-opposite" src="/Assets/Gear.svg" alt="scroll">
            </div>
        </div>
        <div id="gear-6" class="gear-container">
            <div class="gear">
                <img class="gear-image" src="/Assets/Gear.svg" alt="scroll">
            </div>
        </div>
	<div class=container>
            <div class="leftsidebar"></div>
	    <div class="content">$body$</div>
            <div class="rightsidebar"></div>
	</div>
    </body>
    <script>
        window.onscroll = function () {
	    scrollRotate();
	    scrollRotateOpposite();
        };

        function scrollRotate() {
            let images = document.getElementsByClassName("gear-image");
	    for (const image of images) {
                image.style.transform = "rotate(" + window.pageYOffset/2 + "deg)";
	    }
        }

        function scrollRotateOpposite() {
            let images = document.getElementsByClassName("gear-image-opposite");
	    for (const image of images) {
                image.style.transform = "rotate(" + (-window.pageYOffset/2) + "deg)";
	    }
        }
    </script>
</html>
